@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body {
    font-family: 'Dela Gothic One';
    margin: 0;
}

.Layer {
    position: absolute;
    background-color: rgba(122, 107, 59, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* index.html */

.iBody {
    background-image: url(./images/background.png);
    background-size: cover;
}

.iHeader {
    background: rgb(122, 107, 59);
    width: 100%;
    display: flex;
}

.iImagen {
    width: 10em;
}

.iTitulo {
    display: flex;
    align-items: center;
    margin: 0;
}

.iDivPuntuacionMaxima{
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.iPuntuacionMaxima {
    background-color: rgba(122, 107, 59, 0.9);
    border: 1em solid rgba(0, 0, 0, 0);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 1.2em;
    margin: 2em 0 2em 0;
    display: flex;
    justify-content: flex-end;
}

.iElegirContinente {
    background: rgb(122, 107, 59);
    border-radius: 10px;
    font-size: 2em;
    height: 5vw;
    margin: 0 1em 1em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iDivBoton{
    margin-left: 8em;
    margin-right: 8em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.iEnlaceBoton {
    text-decoration: none;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.iBoton {
    background: rgba(122, 107, 59, 0.9);
    border-style: none;
    border-radius: 10%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    font-size: 3em;
    font-family: 'Dela Gothic One';
    cursor: pointer;
    width: 35vw;
    height: 8vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iBoton:hover {
    background: rgb(122, 107, 59);
    border-left: 4em solid rgb(122, 107, 59) outset;
    border-right: 4em solid rgb(122, 107, 59) outset;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.539);
}


/* pantalla principal */

.pBody {
    background: url(./images/background.png);
    background-size: cover;
    /* box-shadow: inset 0 0 0 100% rgba(122, 107, 59, 0.9); */
    padding: 3em;
}

.pHeader {
    text-align: center;
    font-size: 1.5em;
}

.pTitulo {
    margin: 0;
}

.pCentral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pDivEnunciado {
    font-size: 4em;
    margin-bottom: .4em;
    display: flex;
}

.pEnunciado {
    margin: 0;
}

.pImagenes {
    display: flex;
    align-items: center;
    margin: .5em;
}

.pGrupoRespuestas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pRespuestas {
    padding: 1em;
}

.pRespuestasBoton {
    border-style: none;
    border-radius: 10%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    background-color: rgba(24, 20, 9, 0.9);
    cursor: pointer;
    font-size: 1.2em;
    font-family: 'Dela Gothic One';
    width: 25vw;
    min-height: 1.5em;
    height: 3.5vw;
}

.pRespuestasBoton:hover {
    background-color: rgb(17, 15, 6);
}

.pRespuestasBoton:focus {
    transition-delay: .2s;
    background-color: red;
}

.pSistemaPuntos {
    font-size: 2em;
    display: flex;
}

.pPuntuacion {
    margin: 1em .5em 0 0;
    display: flex;
    align-items: center;
}

.pPuntos{
    margin-bottom: .5em;
}

.pMostrarNumeroPregunta {
    margin: .5em;
}

.pAcierto {
    display: none;
    width: 10em;
}

.pDivSiguientePregunta{
    display: none;
}

.pSiguientePregunta {
    border-style: none;
    border-radius: 10px;
    background-color: rgba(24, 20, 9, 0.9);
    cursor: pointer;
    font-size: 1.5em;
    width: 20vw;
    height: 5vw;
    position: absolute;
    margin-top: 5%;
    margin-left: 37%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.pTerminarBoton {
    border-style: none;
    border-radius: 10px;
    background-color: rgba(24, 20, 9, 0.9);
    cursor: pointer;
    font-size: 1.5em;
    width: 20vw;
    height: 5vw;
    position: absolute;
    margin-top: 10%;
    margin-left: 37%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}


/* pantalla final */
.fBody {
    background: url(./images/background.png);
    background-size: cover;
}

.fHeader {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
}

.fMensaje {
    font-size: 2em;
    margin: 2em;
    display: flex;
    justify-content: center;
}

.fBotones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .fEnlaceBoton{
    margin: 1em;
} */

.fBoton {
    background-color: rgba(24, 20, 9, 0.9);
    border-radius: 10px;
    border-style: none;
    font-size: 1.5em;
    margin: 2em;
    width: 20vw;
    height: 5vw;
}

.fBoton:hover {
    background-color: rgb(10, 9, 4);
}