/*  BEM Methodology (Two Dashes Style) */

.body{
    background-color: rgba(0, 0, 0, 0.879);
    color: white;
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

.header{
    width: 100%;
}

.nav{
    margin: 0vmax 5vmax;
    border-bottom: grey solid 1px;
    display: flex;
    justify-content: space-between;
}

.nav__home{
    padding: 4vh 2vh;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__img{
    width: 100%;
}

.nav__menu{
    padding: 4vh 6vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__proyects, .nav__about, .nav__contact{
    width: 20%;
    margin: .4em 0;
    padding: 0 4vmin;
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__icon{
    margin-right: .3em;
}

.main{
    display: flex;
    flex-direction: column;
}

.presentation{
    margin: 6em 1em 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__welcome{
    font-size: 3em;
    margin: 0em 0em .2em 0em;
}

.presentation__name{
    font-size: 6em;
    margin-top: .2em;
    margin-bottom: .2em;
}

.presentation__background{
    min-width: 60vw;
    height: 50vh;
    display: flex;
}

.presentation__video{
    width: 100%;
    height: 100%;
    opacity: 50%;
    box-shadow: inset 10px 20px 4px solid red;
}

/* .presentation__degree{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent 30%, blue);
    position: absolute;
    margin-left: 0vw;
} */

.proyects{
    margin: 5em 0em 2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* scroll-margin-top: 100px; */
}

.proyects__title{
    font-size: 3em;
}

.proyects__description{
    font-size: 1.5em;
    margin: 1.5em;
}

.proyects__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: .8em;
}

.proyects__motorbike, .proyects__fenderguitars{
    width: 30vh;
    height: 30vh;
    border: 2px solid white;
    border-radius: 10%;
    margin: 1.5em;
    display: flex;
    align-items: center;
}

.proyects__motorbike:hover, .proyects__fenderguitars:hover{
    transform: scale(1.4);
    transition: 1s;
}

.proyects__motorbike-a, .proyects__fenderguitars-a{
    justify-content: center;
}

.proyects__motorbike-img, .proyects__fenderguitars-img{
    width: 80%;
}

.about{
    font-size: 1.8em;
    margin: 5em 0em 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__description{
    text-align: center;
    line-height: 1.3em;
    margin-left: 3em;
    margin-right: 3em;
}

.about__socialmedia{
    list-style: none;
    display: flex;
}

.about__github, .about__linkedin{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
.about__github a, .about__linkedin a{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    font-size: 1.8em;
}