/*  BEM Methodology (Two Dashes Style) */

.body{
    background-color: rgb(27, 27, 28);
    color: white;
    font-family: sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    display: flex;
}

.header{
    width: 100%;
}

.nav{
    margin: 0vmax 5vmax;
    border-bottom: grey solid 1px;
    display: flex;
    justify-content: space-between;
}

.nav__home{
    padding: 4vh 2vh;
    min-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__img{
    width: 100%;
}

.nav__menu{
    padding: 4vh 6vh;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav__projects, .nav__about, .nav__contact{
    width: 20%;
    margin: .4em 0;
    padding: 0 4vmin;
    font-size: 3vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__icon{
    margin-right: .3em;
}

.main{
    display: flex;
    flex-direction: column;
}

.presentation{
    margin: 6em 1em 2em 1em;
}

.presentation__foreground{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation__welcome{
    font-size: 4vw;
    margin: 0em 0em .2em 0em;
    z-index: 10;
}

.presentation__name{
    font-size: 7vw;
    margin-top: .2em;
    margin-bottom: .2em;
    z-index: 10;
}

.presentation__background{
    min-width: 100vw;
    height: 55vh;
    margin-top: -23vh;
    margin-left: -29vw;
    display: flex;
}

.presentation__video{
    width: 100%;
    height: 100%;
    opacity: 50%;
}

.projects{
    font-size: 1.8em;
    margin: 2em 0em 2em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__title{
    margin-top: 2em;
}

.projects__description{
    text-align: center;
    margin: 1.5em;
}

.projects__gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects__game, .projects__fenderguitars, .projects__motorbike{
    width: 30vh;
    height: 30vh;
    border: 2px solid white;
    border-radius: 10%;
    margin: 1.5em;
    display: flex;
    align-items: center;
}

.projects__game:hover, .projects__fenderguitars:hover, .projects__motorbike:hover{
    transform: scale(1.4);
    transition: 1s;
}

.projects__game-a, .projects__fenderguitars-a, .projects__motorbike-a{
    justify-content: center;
}

.projects__game-img, .projects__fenderguitars-img, .projects__motorbike-img{
    width: 80%;
}

.about{
    font-size: 1.8em;
    margin: 2em 0em 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__title{
    margin-top: 2em;
}

.about__description{
    text-align: center;
    line-height: 1.3em;
    margin-left: 3em;
    margin-right: 3em;
}

.about__socialmedia{
    list-style: none;
    display: flex;
}

.about__github, .about__linkedin{
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
}
.about__github a, .about__linkedin a{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact{
    font-size: 1.8em;
    margin: 2em 0em 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title{
    margin-top: 1em;
}

.form__list{
    list-style: none;
}

.form__name, .form__email, .form__message, .form__submit{
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__name-input, .form__email-input{
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    width: 18vw;
    min-width: 15em;
    margin: 1em;
}

.form__message-input{
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    width: 28vw;
    min-width: 20em;
    height: 10em;
    margin: 1em;
    resize: none;
}

.form__submit-input{
    color: white;
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 28vw;
    min-width: 20em;
    height: 2em;
    cursor: pointer;
}

.footer{
    border-top: grey solid 1px;
    margin: 0vmax 5vmax;
}

.footer__description{
    font-size: 1.2em;
    margin: 1em;
}